@using MPPilot.Domain.Models.Adverts;
@using MPPilot.Domain.Utils;
@using Newtonsoft.Json;
@model IEnumerable<Advert>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />

<table id="data-table" class="table table-striped table-hover display">
	<thead>
		<tr>
			<th></th>
			<th class="filterable">Тип</th>
			<th class="filterable">Название</th>
			<th class="filterable">Фраза</th>
			<th>Арт.</th>
			<th>Статус</th>

			<th>Просмотры</th>
			<th>Клики</th>
			<th>Заказы</th>
			<th>Стоимость заказа (р.)</th>
			<th>Расход (р.)</th>

			<th>CPM</th>
			<th>CTR</th>
			<th>CPC</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr class="edit-button" data-advert="@JsonConvert.SerializeObject(item)">
				<td>
					@if (item.Autobidder?.IsEnabled == true)
					{
						<svg data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Под управлением автобиддера" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
							<path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
						</svg>
					}
				</td>

				<td>@item.Type.GetDescription()</td>
				<td>@item.Name</td>
				<td>@item.Keyword</td>
				<td>@item.ProductArticle</td>
				<td>@item.Status.GetDescription()</td>

				<td>@item.TotalViews</td>
				<td>@item.Clicks</td>
				<td>@item.Orders</td>
				<td>@(item.OrderCost.ToString("F2"))</td>
				<td>@(item.TotalSpent.ToString("F2"))</td>

				<td>@item.CPM</td>
				<td>@item.CTR.ToString("F2")</td>
				<td>@item.CPC.ToString("F2")</td>
			</tr>
		}
	</tbody>
</table>
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Настройки рекламной кампании</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active show" href="#advert" data-bs-toggle="tab">Основные</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#autobidder" data-bs-toggle="tab">Автобиддер</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane show active" id="advert" role="tabpanel">
						@(await Html.PartialAsync("AdvertSettings"))
					</div>

					<div class="tab-pane" id="autobidder" role="tabpanel">
						@(await Html.PartialAsync("AutobidderSettings"))
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

	<script>
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>

	<script>
		$(function () {
			$("[rel='tooltip']").tooltip();
		});
	</script>

	<script>
		let advert;

		$(".edit-button").click(function () {
			var advertData = $(this).data("advert");
			advertData = JSON.stringify(advertData);
			advert = JSON.parse(advertData);

			if (advert) {
				$("#advertId").val(advert.AdvertId);
				$("#advertNameInput").val(advert.Name);
				$("#advertKeywordInput").val(advert.Keyword);
				$("#advertIsEnabled").prop("checked", advert.IsEnabled);

				if (advert.Autobidder) {
					$("#autobidderTypeInput").val(advert.Autobidder.Mode);
					$("#autobidderDailyBudgetInput").val(advert.Autobidder.DailyBudget);
					$("#autobidderIsEnabled").prop("checked", advert.Autobidder.IsEnabled);
				}
				else {
					$("#autobidderTypeInput").val(null);
					$("#autobidderDailyBudgetInput").val(null);
					$("#autobidderIsEnabled").prop("checked", false);
				}

				var modal = new bootstrap.Modal(document.getElementById("settingsModal"));
				modal.show();
			}
			else {
				alert("Рекламная кампания " + id + " не найдена");
			}
		});
	</script>

	<script>
		$("#saveAdvert").click(function () {
			var status = $("#advertIsEnabled").prop("checked") ? "InProgress" : "Stopped";

			var newAdvert = {
				advertId: advert.AdvertId,
				name: $("#advertNameInput").val(),
				keyword: $("#advertKeywordInput").val(),
				status: status
			};

			$.post("/Adverts/Edit", { oldAdvert: advert, newAdvert: newAdvert }, function (jqXHR) {
				location.reload();
				$('#settingsModal').modal('hide');
			});
		});
	</script>


	<script>
		$("#saveAutobidder").click(function () {

			var newAutobidder = {
				advertId: advert.AdvertId,
				mode: $("#autobidderTypeInput").val(),
				dailyBudget: $("#autobidderDailyBudgetInput").val(),
				isEnabled: $("#autobidderIsEnabled").prop("checked")
			};

			$.post("/Autobidder/Edit", { autobidder: newAutobidder }, function (data) {
				location.reload();
				$('#settingsModal').modal('hide');
			});
		});
	</script>
}